
/*

	blue-color: rgb(41, 128, 185);
	light-blue-color: rgb(230, 126, 34);
	jumbotron-text-light-blue-color: rgb(158, 211, 252);

    orange: rgb(243, 156, 18);
    pumpkin: rgb(211, 84, 0);
    clouds: rgb(236, 240, 241);
    silver: rgb(189, 195, 199);

    pomegranate (vermelho escuro): rgb(192, 57, 43);
    alizarin: rgb(231, 76, 60);
*/

body {
	padding-top: 90px;
	font-weight: 200;
}

h2 {
    color: white;
}

h3 {
	color: white;
}

h4 {
    line-height: 30px;
}

p {
    font-size: 15px;
    color: black;
}

ul.ok {
    list-style-image: url("../img/ok-32.png");
}

.white  {color:white;}
.black  {color:black;}
.red    {color: rgb(192, 57, 43);}

.logo {
	padding-top:10px;
}

.icon-bar {
    background-color: white;
}

.btn-background-color {
	border-radius: 0px;
	background-color: rgb(192, 57, 43);
	color: white;
	font-weight:bold;
}

.btn-white {
	border-radius: 0px;
	background-color: white;
	color: rgb(192, 57, 43);
	font-weight:bold;
}

.jumbotron {
	background-color: white;
    margin-bottom: 0px;
}

.jumbotron-header {
	background-color: rgb(40, 40, 40);
	font-weight: 100;
    padding-top: 90px;
    padding-bottom: 120px;
}

.jumbotron-header h2 {
	color: white;
}

.jumbotron-header p {
	color: white;
}

.jumbotron-contact {
    padding-top: 0px;
    margin-top: 0px;
}

.navbar-bottom {
	background-color: rgb(240, 240, 240);
	border-color: rgb(192, 57, 43);
    border-width: 0px;
	border-bottom-width: 2px;
    margin-bottom: 0px;
}

.navbar-top {
	background-color: rgb(40, 40, 40);
	border-color: rgb(40, 40, 40);
	padding-bottom: 15px;
}

.navbar-main > li > a:hover {
	background-color: white;
}

.navbar-main a {
    color: white;
}

.navbar-main {
    padding-top: 20px;
}

.navbar-main a:hover {
    color: rgb(192, 57, 43);;
}

.navbar-main > li > a {
	margin-top: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-weight: 300;
	font-size: 15px;
}

.form-square {
	border-radius: 0px;
}

.phone {
	text-decoration: underline;
	color: rgb(192, 57, 43);
	font-weight: 100;
    font-size: 20px;
}

hr {
	height: 1px;
	margin: 2em 0;
	border: 0;
	background: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.09) 10%, rgba(0,0,0,0.09) 90%, rgba(0,0,0,0));
}

.navbar {
    border-radius: 0px;
}

.center {
    text-align: center;
}

.jumbotron-text {
	font-size: 15px;
}

.jumbotron-content {
    background-color: rgb(192, 57, 43);
}

.row {
	margin-top: 20px;
	margin-bottom: 50px;
}

.glyphicon-lg {
	font-size: 140px;
}

.icon-container {
    margin-top: -50px;
    position: absolute;
    text-align: center;
    width: 100%;
}

select {
    -webkit-appearance: none;  /*Removes default chrome and safari style*/
    -moz-appearance: none;  /*Removes default style Firefox*/

    background:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='50px' height='50px'><polyline points='46.139,15.518 25.166,36.49 4.193,15.519'/></svg>") right no-repeat;

    background-position: right 8px top 12px;
    background-size: 12px 12px;
    font-size: inherit;
}
